/*--- Base ---*/
html, a, b, body, div, h1, h2, h3, h4, h5, h6, input, label, p, span, textarea {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

h4 {
  font-weight: 200;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
  margin: 30px auto;
}

main {
  background: white;
  z-index: -999;
}

p {
  margin-bottom: 20px;
}

.icon-fallback {
  display: inline;
  font-size: 0;
  height: 1px;
  overflow: hidden;
}

/*--- Buttons ---*/
.btn {
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  display: inline-block;
  font-size: 1em;
  padding: 8px 20px;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn--header {
  background-color: white;
  color: #000;
}

.btn--header:hover {
  background-color: #cdcdcd;
  background-color: rgba(255, 255, 255, 0.4);
}

.btn--resume {
  background-color: #01ab6d;
  color: white;
  font-size: 1em;
}

.btn--resume:hover {
  background-color: #ddd;
}

.btn--contact {
  /*background-color: #555;*/
  color: #444;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 30px;
}

.btn--contact:hover {
  background-color: #ddd;
}


/*--- Helpers ---*/
.uppercase {
  text-transform: uppercase;
}


/*--- Grid ---*/
.row {
  zoom: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
}

.row--padded {
  margin-top: -20px;
  margin-left: -20px;
}

.row--padded > .col {
  padding-top: 20px;
  padding-left: 20px;
}

.l6 {
  width: 50%;
}


/*--- Index - Header ---*/
.parallax-container {
  /*color: white;
  color: rgba(255,255,255,.9);*/
  height: 100vh;
  margin: 0;
  padding: 0 !important;
  position: relative;
}

.parallax {
  height: 100%;
  overflow: hidden;
  width: 100%;
  z-index: 0 !important;
}

.parallax > img {
  height: 100%;
}

.header {
  text-transform: capitalize;
}

.header-container {
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  /*text-align: center;*/
  top: 50px;
  -webkit-transition: all .2s;
  transition: all .2s;
  /*-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  width: 100%;
  z-index: 1;
}

.profile-pic {
  box-sizing: content-box;
  border: 2px solid #cdd;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.hr--xs {
	margin-top: 5px;
	margin-bottom: 5px;
  max-width: 200px;
}

.arrow-container {
  bottom: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.arrow-container .fas {
  color: white;
}

/*--- Index - Main content ---*/
.section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.section.container {
  padding-left: 3em;
  padding-right: 3em;
}

.section h2 {
  padding-bottom: 1em;
  text-transform: capitalize;
}

/*--- Index - Skills ---*/
.skill {
  text-align: left;
  padding-top: .8em;
  padding-bottom: .8em;
}

.skill .icon {
  color: #444444;
  display: inline;
  vertical-align: middle;
}

.skill  .devicons {
  font-size: 3em;
  margin-right:10px;
}

.skill .fab {
  font-size: 2.5em;
  padding: 0 6px;
  margin-right: 5px;
}

.skill--with-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.skill--with-img .icon {
  width: 35px;
  margin-right: 11px;
  padding: 5px 8px;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.75" /></feComponentTransfer></filter></svg>#filter');
  -webkit-filter: opacity(.75);
  filter: opacity(.75);
}

@media (max-width: 470px) {
  .skill {
    /* width: 100%; */
    padding-top: 0;
    position: static !important;
  }
  .skill  .devicons {
    display: none;
  }

  .skill .fab {
    display: none;
  }

  .skill--with-img .icon {
    display: none;
  }

  .portfolio__item p {
    font-size: 12px;
  }
}

/*--- Index - Portfolio ---*/
.portfolio__item {
  text-align: center;
}

.portfolio__thumbnail {
  box-shadow: 0 0 .4em #ccc;
  height: auto;
  margin: .5em .1em;
  position: relative;
  width: 100%;
}

/*--- Index - Contact ---*/
.contact-section {
  background-color: #efefef;
  color: #a9a9a9;
  font-weight: 100 !important;
  padding: 4em 2em;
  text-align: center;
}

/*--- Index - Footer ---*/
.footer {
  background: #ddd;
  color: #999;
  font-size: .8em;
  padding: 20px;
  text-align: center;
}


/*--- Responsive ---*/
@media only screen and (min-width: 768px) {
  html, body, main {
    height: 100%;
    overflow: hidden;
  }

  main > .col:nth-of-type(2) {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }

  .desktop-hide {
    display: none;
  }
}

@media only screen and (max-width : 767px) {
  main > .col {
    width: 100%;
  }


  .parallax-container {
    height: auto;
  }

  .parallax > img {
    height: auto;
    width: 100%;
  }

  .content {
    overflow: auto;
    height: auto;
  }

  .mobile-hidden {
    display: none;
  }

  .header-container {
    top: 20%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width : 479px) {

  .parallax-container {
    height: 350px;
  }

  .parallax > img {
    height: 100%;
    width: auto;
  }
}
