html, body {
  height: 100%;
}

h4 {
  padding: .6em;
  text-align: center;
  text-transform: capitalize;
}

p {
  line-height: 2rem;
}

hr {
  width: 100%;
  border: 0;
  border-top: .05em solid #eee;
  margin: 2em auto;
}

.button-collapse {
  color: #26a69a;
}

.header {
  text-transform: capitalize;
}

.arrow-container {
  bottom: -1em;
  position: absolute;
}

.arrow-container .fa {
  color: white;
}

.fa,
.devicons {
  font-size: 2em;
  /*color: white;*/
  padding: 1em 0.2em;
  color: #444444;
}

.devicons {
  font-size: 3em;
  /*color: white;*/
  padding: 0.2em 0.1em 1em;
  color: #444444;
}

.page-footer {
  margin: 0;
}

.parallax-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  color: rgba(255,255,255,.9);
}

.portfolio-thumbnail {
  width: 240px;
  height: 135px;
  position: relative;
  margin: 0.5em 0.1em;
  box-shadow: 0 0 0.4em #ccc ;
}

.profile-pic {
  height: 3.25em;
  box-sizing: content-box;
  border: .13em solid #cdd;
  border-radius: 50%;
  margin: .5em;
  width: 3.25em;
}

.section {
  background: white;
  margin-top: 2em;
  margin-bottom: 2em;
}

.subheader {
  margin: 2em 0 0;
}

.subheader .btn {
  font-size: 1em;
  color:#BDBCBC;
  color:rgba(189, 188, 188, 0.1);
  background-color:white;
  background-color:rgba(255,255,255,0.1);
  padding: 0.3em 1.2em !important;
	line-height:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
  -ms-border-radius:30px;
  -o-border-radius:30px;
	border-radius:30px;
	border:0;
  box-shadow: none;
  transition: box-shadow 0.5s;
	/*text-shadow:#C17C3A 0 -1px 0;*/
	/*width:120px;
	height:32px*/
}

.subheader .btn:hover {
  background-color:#CDCDCD;
  background-color:rgba(255, 255, 255, 0.4);
}

.uppercase {
  text-transform: uppercase;
}


@media only screen and (max-width : 991px) {
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
}

@media only screen and (max-width : 769px) {
  .parallax-container .section {
    top: 0;
  }
}
