html, body {
  height: 100%;
}

h4 {
  padding: .6em;
  text-align: center;
  text-transform: capitalize;
}

hr {
  width: 100%;
  border: 0;
  border-top: .05em solid #eee;
  margin: 2em auto;
}

main {
  background: white;
  z-index: -999;
}

p {
  line-height: 2rem;
}

.arrow-container {
  bottom: -1em;
  position: absolute;
}

.arrow-container .fa {
  color: white;
}

.btn.resume {
  background-color: #dcdcdc;
  border: 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  box-shadow: none;
  font-size: 1em;
  text-align: center;
  transition: box-shadow .5s;
}

.btn.resume:hover {
  background-color: #cdcdcd;
}

.button-collapse {
  color: #26a69a;
}

.header {
  text-transform: capitalize;
}

.devicons,
.fa {
  font-size: 2em;
  /*color: white;*/
  padding: 1em .2em;
  color: #444444;
}

.devicons {
  font-size: 3em;
  /*color: white;*/
  padding: 0.2em 0.1em 1em;
  color: #444444;
}

.page-footer {
  margin: 0 !important;
  padding: 0 !important;
}

.parallax-container {
  color: white;
  color: rgba(255,255,255,.9);
  height: 100vh;
  margin: 0;
  padding: 0 !important;
}

.parallax {
  z-index: 0 !important;
}

.parallax-container > .container {
  z-index: 1;
}

.portfolio-thumbnail {
  box-shadow: 0 0 .4em #ccc;
  height: 8.4375em;
  margin: .5em .1em;
  position: relative;
  width: 15em;
}

.profile-pic {
  box-sizing: content-box;
  border: .13em solid #cdd;
  border-radius: 50%;
  height: 3.25em;
  margin: .5em;
  width: 3.25em;
}

.section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.subheader {
  margin: 2em 0 0;
}

.subheader > .btn {
  background-color: white;
  background-color: rgba(255,255,255,0.1);
  border: 0;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
	border-radius: 30px;
  box-shadow: none;
  color: #bdbcbc;
  color: rgba(189, 188, 188, 0.1);
  font-size: 1em;
  text-align: center;
  transition: box-shadow .5s;
}

.subheader > .btn:hover {
  background-color: #cdcdcd;
  background-color: rgba(255, 255, 255, 0.4);
}


.uppercase {
  text-transform: uppercase;
}

@media only screen and (max-width : 991px) {
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
}

@media only screen and (max-width : 769px) {
  .parallax-container .section {
    top: 0;
  }
}
