{{- /* Extra <head> tags for /blog/ pages (included by baseof.html). */ -}}
{{- with site.GetPage "/blog" }}
  {{- with .OutputFormats.Get "rss" }}
  <link rel="alternate" type="application/rss+xml" title="{{ site.Params.blog.title }}" href="{{ .Permalink }}" />
  {{- end }}
  {{- with .OutputFormats.Get "json" }}
  <link rel="alternate" type="application/feed+json" title="{{ site.Params.blog.title }}" href="{{ .Permalink }}" />
  {{- end }}
{{- end }}
  {{- range site.Params.me }}
  <link rel="me" href="{{ . }}" />
  {{- end }}
  {{- with site.Params.bluesky_publication }}
  <link rel="site.standard.publication" href="{{ . | safeURL }}" />
  {{- end }}
  <link rel="stylesheet" href="{{ "blog/assets/css/interactions.css" | relURL }}" />
