{{ define "main" }}
    <main id="blog-photos">
      <header>
        <h2>{{ .Title }}</h2>
        <div class="description">
          <p class="p-note">Photos from posts.</p>
          {{ partial "blog/subnav.html" . }}
        </div>
      </header>
      <div class="photo-grid">
        {{- range where site.RegularPages "Params.photos" "!=" nil }}
        {{- $p := . }}
        {{- range first 1 .Params.photos }}
        <a href="{{ $p.RelPermalink }}"><img src="{{ . }}" alt="" loading="lazy" /></a>
        {{- end }}
        {{- end }}
      </div>
    </main>
{{ end }}
