{{ define "main" }}
    <main id="blogroll" class="e-content">
      {{ partial "site/page-header.html" (dict "page" . "intro" (printf `Inspired by old-school blogrolls. You can subscribe to this same list via
            <a href="%s">OPML export</a>.` (.OutputFormats.Get "opml").RelPermalink | safeHTML)) }}

      <h3 class="content-roll-title">Roll</h3>
      <ul class="blogroll-list">
        {{- range partial "site/blogroll.html" . }}
        <li><a href="{{ .htmlUrl }}">{{ .title }}</a> <span>· <a href="{{ .xmlUrl }}" title="RSS feed" aria-label="RSS feed"><i class="fa-solid fa-rss" aria-hidden="true"></i></a></span></li>
        {{- end }}
      </ul>

      {{ partial "site/updated.html" . }}
    </main>
{{ end }}
